

body{
background-color:aquamarine;
}

.jumbotron{  
background-image: url(..\images\iso-republic-abstract-particle-snow.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 500px;
height: cal(100vh - 25px);
display: flex;
align-items: center;
justify-content: center;
}