body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(18, 19, 18);
    
}

/*navbar*/

.navbar {

    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF; 
    opacity: 0.7; 
    filter: alpha(opacity=50);
}

.navbar a {
    font-weight: 500;
    font-size: large;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

/*end of navbar*/

.jumbotron {
    background-image: url(/Bootstrap-Portfolio/images/aerial-shot-beautiful-tree-forest-covered-with-fog-bled-slovenia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 500px;
    height: cal(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_picture {
    width:300px;
    height:300px;
    border:.3em solid whitesmoke;
    margin-top:100px;
  }
.circual-image {
   border-radius: 50%;
   
}

/*Projects section*/


h2{
position: center;
color:#FFFFFF;
}
.cardContainer {
  margin-bottom: 15px;
  margin-top: 60px;
}
.card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}

.card__img-top {      
    width: 100%;
    height: auto;
  }

  .card:hover.card {
    transform: translateY(0);

  }
    .btn {
        display: inline-block;
        padding: 24px 32px;
        border: 0;
        color:black;
        text-decoration: none;
        border-radius: 15px;
        background-color: rgba(255,255,255,0.1);
        border: 1px solid rgba(255,255,255,0.1);
        backdrop-filter: blur(30px);
        color: rgba(255,255,255,0.8);
        font-size: 14px;
        letter-spacing: 2px;
        cursor: pointer;
        text-transform: uppercase;
      }
      
      /*footer*/
 
       footer{
        margin: auto;
        width:fit-content;
        height: 100px;
        
       }
       .footer-social-icons ul{
        position: absolute;
        text-align: center;
        float: none;
        margin-top: 1000px;
        top: 50%;
        left: 50%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        display: flex;
        }
        .footer-social-icons ul li{
        list-style: none;
        margin: 0 15px;
        }
        .footer-social-icons ul li .fab{
        
        font-size: 30px;
        line-height: 60px;
        transition: .3s;
        color: black;
        }

        .footer-social-icons ul li a{
            position:relative;
            display:inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
            transition: .6s;
            box-shadow: 0 5px 4px rgba(0,0,0,.5);
            }
            .footer-social-icons ul li a:hover{
            transform: translate(0, -10%);
            }
            
        .footer-social-icons ul li .fab:hover{
        color: #fff;
        }
   